<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Testproject with MEAN (Angular2) and Docker</a>
  </div>
</nav>
<div class="container">
  <div [style.margin-top.px]="10" class="row">
    <h3>Add new message</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="number">Fork lift no.</label>
        <input type="text" class="form-control" id="number" #id>
      </div>
      <div class="form-group">
        <label for="driverID">Driver ID</label>
        <input type="number" class="form-control" id="driverID" #driver>
      </div>
      <button type="button" (click)="addMessage(id.value, driverID.value)" class="btn btn-primary">Add Message</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Messages</h3>
    <table [style.margin-top.px]="10">
      <thead>
        <tr>
          <th>Fork lift no.</th>
          <th>Driver ID</th>
          <th>Start time</th>
          <th>End time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages">
          <td>{{message.id}}</td>
          <td>{{message.driverId}}</td>
          <td>{{message.start}} </td>
          <td>{{message.end}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
